*,
*::after,
*::before{
    /* margin: 0;
    padding: 0; */
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* variables */
:root{
    --body-background-color:#f3f3f4;
    --paragraph-font:#4d4e53;
    --coding-background:#E6E1DB;
    --navbar-border:#cccccc;
}
body{
    background-color: var(--body-background-color);
    overflow: hidden;
    display: flex;
    height: 100%;
    font-family: "Roboto",sans-serif;
    margin-top: 0;

}
#main-doc{
    overflow: scroll;
    height: 100%;
    padding-top: 4rem;
}

.title{
    font-size: 2rem;
    font-weight: 700;
}
.paragraph{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 2rem 0;
    color: var(--paragraph-font);
}
.code{
    background-color: var(--coding-background);
    padding: 2rem ;
    font-size: 1.4rem;
    display: block;
    margin: 3rem;
}
.list-item{
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--paragraph-font);
}

/* navbar style */
#navbar{
    flex: 0 0 20%;
    border-right: 5px solid var(--navbar-border);
    margin-right: 5rem;
    overflow: scroll;
    height: 100%;
    padding-top: 4rem;
}
.nav-header{
    font-size: 2rem;
    font-weight: 700;
    background-color:var(--body-background-color);
    position: fixed;
    padding: 4rem 5.25rem 4rem 2rem;
    top: 0;
    border-bottom: 2px solid #000;
    
}
.navitems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin-top: 7rem;
    
}
.navlist{
    font-size: 1.7rem;
    list-style:none;
    border-bottom: 2px solid #000;
    padding: 2rem;
    
}
.nav-link:link,
.nav-link:visited{
    color: var(--paragraph-font);
    text-decoration: none;
}

